.legends {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-size: 14px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.colorIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.limpia {
  background-color: var(--color-desactivado);
}

.desocupada {
  background-color: var(--background);
  border: 1px solid #d8d8d8;
}

.enMantenimiento {
  background-color: var(--color-advertencia);
}

.ocupada {
  background-color: var(--color-error);
}

.revisadas {
  background-color: var(--color-exito);
}
